.button-group {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-8);
}

.button-group--xs,
.button-group--sm {
  gap: 6px;
}

.button-group--lg,
.button-group--xl {
  gap: var(--spacing-12);
}

.button-group--full {
  display: flex;
  width: 100%;
}

.button-group--full > * {
  flex: 1;
}

.button-group--attached {
  flex-wrap: nowrap;
  gap: 0;
}

.button-group--attached > *:not(:first-child) {
  margin-left: -1px;
}

.button-group--attached > *:not(:first-child):not(:last-child),
.button-group--attached > *:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group--attached > *:not(:first-child):not(:last-child),
.button-group--attached > *:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-group--attached > *:only-child {
  border-radius: var(--radius-buttons);
}
